server:
  port: 80
  servlet:
    session:
      timeout: 30m

client:
  url: ${CLIENT_URL}

spring:
  application:
    name: be

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db.migration